// --------------GENERAL STYLE START-------------
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500;600;700;800;900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
}
body{
  background-color: #f2f2fc;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(transparent, #ec1839);
  // background:#fff;
  border-radius: 6px;
}
::-webkit-scrollbar {
  width: 5px!important;
  background: #000000e1;
}
:-webkit-scrollbar-track {
  background-color: #000;
}
::selection {
  user-select: none;
}
//----------------GENERAL STYLE EMD -------------

// --------------NAVBAR STYLE START-------------
.navbar{
  width: 100%;
  background-color: #000;
  position: sticky;
  top: 0;
  height: 10vh;
  z-index: 2;
  color:#fff;
  margin-bottom: 0px;
  // -----------PROGRESS STYLE---------
  .progressMain{
    width: 100%;
    height: 1vh;
    background-color: #000;
    .progressMainStyle{
      // width: 20%;
      background-color: #fff;
      height: 0.4vh;
      margin-top: 0.25vh;
    }
  }
  .navbar-container{
    margin: 0 auto;
    width: 85%;
    @media(max-width:1200px){
      width: 95%;
    }
    @media(max-width:330px){
      padding-top: 15px;
      padding-bottom: 10px;
    }
    display: flex;
    justify-content: space-between;
    align-items: center;
    .navbar-logo{
      display: inline-block;
      color: #fff;
      font-size: 40px;
      @media(max-width:330px){
        font-size: 26px;
        line-height: 20px;
      }
      font-family: 'Rubik', sans-serif;
      font-weight: 700;
      text-decoration: none;
      position: relative;
      padding: 5px 10px;
      line-height: 50px;
    }
    .nav-menu{
      margin-bottom: 0px;
      @media(max-width:992px){
        display:block;
        width: 100%;
        position: absolute;
        background-color: rgb(44, 42, 42);
        top: 10vh;
        left: -100%;
        height: 90vh;
        transition: all .4s linear;
          .nav-item{
          display:block;
          margin: 10px auto;
          .nav-links{
            margin: 50px auto;
            display:flex;
            align-items: center;
            justify-content: center;
            
          }
          }
      }
      .nav-item{
        display:inline-block;
        list-style: none;
        margin: 0px 20px;
        @media(max-width:992px){
          display:block;
        }
        .nav-links{
          font-size: 20px;
          font-weight: 600;
          color:#fff;
          text-decoration: none;
          line-height: 45px;
          @media(max-width:992px){
            border-bottom: 1px solid #e8dfec;
          }
          transition: all .3s ease;
          -webkit-transition: all .3s ease;
          -o-transition: all .3s ease;
          text-transform: capitalize;
          display:flex;
          align-items: center;
          .icon{
            margin-right: 8px;
            font-size: 16px;
          }
        }
        
      }
    }
    
    .nav-menu.active{
      display:block;
      width: 100%;
      position: absolute;
      background-color: rgb(26, 25, 25);
      top: 10vh;
      left: 0;
      height: 90vh;
      .nav-item{
        display:block;
        margin: 10px auto;
        .nav-links{
          margin: 50px auto;
          display:flex;
          align-items:center;
          justify-content: center;
          color:#fff;
        }
      }
    }
    .menu-icon{
      display:none;
      @media(max-width:992px){
        display:block;
        font-size: 1.5rem;
        line-height: 1;
      }
    }
  }
  
}

// --------   NAVBAR STYLE END ------------------

// -------------BANNER STYLE START---------------
.banner{
  width: 100%;
  height: 89vh;
  background-color: #f2f2fc;
  .intro{
    width: 50%;
    @media(max-width:768px){
      width: 70%;
    }
    margin: 0 auto;
    padding-top: 60px;
    // padding-bottom: 70px;
    text-align: center;
    h1{
      font-size: 30px;
      @media(max-width:330px){
        font-size: 20px;
      }
      color: #302e4d;
      font-family: 'Rubik', sans-serif;
      font-weight: 700;
      margin: 20px 0 5px 0;
    }
    p{
      font-size: 16px;
      @media(max-width:330px){
        font-size: 13px;
      }
      font-weight: 500;
      margin: 0;
      line-height: 22px;
      color: #504e70;
    }
    .shadow{
      width: 200px;
      @media(max-width:330px){
        width: 150px;
        height: 150px;
      }
      height: 200px;
      border-radius: 50%;
      display: inline-block;
      border: 8px solid #fff;
    }
    .social-media{
      margin-top: 25px;
      display:flex;
      justify-content: center;
      .social-link{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items:center;
        line-height: 35px;
        color: #fff;
        background-color: #302e4d;
        margin: 0 4px;
        text-decoration: none;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        -moz-transition: all .3s ease;
        transition: all .3s ease;
      }
    }
    .download{
      width: 100%;
      height: 50px;
      margin-top: 20px;
      display:flex;
      justify-content: center;
      @media(max-width:330px){
        display:none;
      }
      .linkCV{
        width: 80%;
        @media(max-width:992px){
          width: 100%;
        }
        @media(max-width:768px){
          width: 100%;
        }
        height: 100%;
        background-color: #000;
        color:#fff;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items:center;
        font-size: 20px;
        @media(max-width:576px){
          line-height: 25px;
          font-size: 16px;
        }
        font-weight: 400;
        line-height: 45px;
        transition: all .3s ease;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        text-transform: capitalize;
        padding: 0px 20px;
        span{
          margin-right: 5px;
        }
      }
    }
  }
}
// -----------BANNER STYLE END-------------------

// -------------ABOUT STYLE START--------------
.about{
  width: 100%;
  background-color: #f2f2fc;
  .about-container{
    width: 85%;
    margin: 0 auto;
    @media(max-width:1200px){
      width: 95%;
    }
    .section-title{
      margin-bottom: 60px;
      h1{
        font-size: 40px;
        color: #000;
        font-family: 'Rubik', sans-serif;
        font-weight: 700;
        margin: 0;
        position: relative;
        padding: 40px 5px 0px 5px;
        // padding: 25px 10px;
        &::after{
          content: "";
          height: 4px;
          width: 50px;
          position: absolute;
          top: 100%;
          left: 0;
          background-color: #000;
        }
        &::before{
          content: "";
          height: 4px;
          width: 25px;
          position: absolute;
          top: 100%;
          left: 0;
          margin-top: 8px;
          background-color: #000;
        }
      }
    }
    .about-title{
      width: 70%;
      p{
        font-size: 16px;
        line-height: 25px;
        color: #504e70;
        margin: 0;
        // padding: 0px 5px;
      }
      h3{
        font-size: 24px;
        margin-bottom: 15px;
        font-weight: 700;
        color: #000;
        // padding: 0px 5px;
        span{
          color:#ec1839;
        }
      }
    }
    .personal-title{
      margin-top: 60px;
      p{
        font-weight: 600;
        color: #000;
        font-size: 16px;
        padding: 10px 0;
        margin: 0;
        border-bottom: 1px solid #e8dfec;
        span{
          font-weight: 400;
          color: #504e70;
          display: inline-block;
          margin-left: 5px;
          @media(max-width:330px){
            font-size: 13px;
            margin-left: 3px;
          }
        }
      }
    }
    .skills-info{
      .skills{
        width: 100%;
        .technical-skills{
          line-height: 40px;
          color: #000;
          font-weight: 700;
          font-size: 18px;
          text-transform: capitalize;
          margin: 0!important;
          @media(max-width:1200px){
            margin-top: 40px!important;
          }
        }
        .skills-item{
          max-width: 100%;
          margin-bottom: 20px;
          h5{
            line-height: 40px;
            color: #000;
            font-weight: 600;
            font-size: 16px;
            text-transform: capitalize;
            margin: 0;
          }
          p{
            font-weight: 400;
            color: #302e4d;
          }
          .progress{
            background-color: #e3e3e3;
            height: 8px;
            border-radius: 4px;
            width: 100%;
            position: relative;
            .progress-in{
              position: absolute;
              top: 0;
              left: 0;
              height: 8px;
              border-radius: 4px;
              background-color: #000;
            }
            
          }
          
        }
      }
    }
  }
}
// -------------PABOUT STYLE END---------------

// ---------------PORTFOLIO STYLE START------------
.portfolio{
  width: 100%;
  .portfolio-container{
    width: 85%;
    margin: 0 auto;
    @media(max-width:1200px){
      width: 95%;
    }
    @media(max-width:576px){
      width: 100%;
    }
    .mobile{
      @media(max-width:768px){
      flex-direction: column-reverse;
      }
    }
    .portfolio-title{
      font-size: 40px;
      color: #000;
      font-family: 'Rubik', sans-serif;
      font-weight: 700;
      margin: 40px 0px;
      position: relative;
      &::after{
        content: "";
        height: 4px;
        width: 50px;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #000;
      }
      &::before{
        content: "";
        height: 4px;
        width: 25px;
        position: absolute;
        top: 100%;
        left: 0;
        margin-top: 8px;
        background-color: #000;
      }
    }
    .portfolio-photo{
      width: 95%;
      height: 340px;
      margin: 40px auto;
      @media(max-width:576px){
        width: 95%;
      }
      img{
        width: 100%;
        height: 100%;
      }
    }
    .portfolio-link{
      width: 85%;
      margin: 40px auto;
      h3{
        padding-top: 70px;
        @media(max-width:768px){
          padding-top: 0px;
        }
        font-size: 27px;
        margin-bottom: 15px;
        font-weight: 700;
        color: #000;
      }
      p{
        font-size: 16px;
        font-weight: 500;
        margin: 0;
        line-height: 22px;
        color: #504e70;
      }
      .link{
        padding: 10px 20px;
        background-color:#000;
        color:#fff;
        margin-top: 40px;
        display: block;
        text-align: center;
        font-size: 24px;
        // margin-bottom: 15px;
        font-weight: 600;
        text-decoration: none;
        span{
          margin-right: 5px;
        }
      }
    }
  }
}

// -------------- CONTACT STYLE START ------------
.contact{
  width: 100%;
  .form-container{
    width: 85%;
    margin: 0 auto;
    h2{
      // padding: 50px 0px;
      font-size: 40px;
      color: #000;
      font-family: 'Rubik', sans-serif;
      font-weight: 700;
      position: relative;
      margin: 40px 0px 20px 10px;
      &:after{
        content: "";
        height: 4px;
        width: 50px;
        position: absolute;
        top: 100%;
        left: 0;
        background-color:#000;
      }
      &::before{
        content: "";
        height: 4px;
        width: 25px;
        position: absolute;
        top: 100%;
        left: 0;
        margin-top: 8px;
        background-color:#000;
      }
    }
    h1{
      font-size: 24px;
      margin-bottom: 15px;
      font-weight: 700;
      color: #302e4d;
      padding-top: 100px;
    }
    p{
      font-size: 16px;
      line-height: 25px;
      color: #504e70;
      margin: 0;
      width: 75%;
    }
    label{
      line-height: 40px;
      color: #302e4d;
      font-weight: 700;
      font-size: 16px;
      text-transform: capitalize;
      margin: 0;
    }
    .form-control{
      font-weight: 400;
      color: #000;
      display: inline-block;
      padding-left: 15px
    }
    .form-control:focus{
      box-shadow: none;
    }
    .btn{
      background-color:#000;
      color:#fff;
      font-size: 24px;
      font-weight: 700;
      
    }
  }
}